body, .app {
    background: black;
    color: white;
}

.app{
    display: flex;
    height: 100%;
}

.sidebar {
    flex: 2;
}

.map {
    flex: 5;
}

.sidebar .filter-results {
    height: 90vh;
    overflow: scroll;
}

/* Responsive for Mobile */

@media only screen and (max-width: 775px) {
    .app {
        flex-direction: column;
    }
    .sidebar .filter-results {
        height: 30vh;
        overflow: scroll;
    }
}